[submodule ".gopath/src/github.com/polydawn/refmt"]
	path = .gopath/src/github.com/polydawn/refmt
	url = https://github.com/polydawn/refmt
[submodule ".gopath/src/github.com/polydawn/go-errcat"]
	path = .gopath/src/github.com/polydawn/go-errcat
	url = https://github.com/polydawn/go-errcat
